<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <div class="theme-switch">
   			<div class="switch"></div>
  		</div>
        <p style="text-align: center; line-height: 1.2;">Strona stworzona przez <a href="https://www.facebook.com/profile.php?id=100011488507585">GSJ</a> dla NIEwolnicy Systemu<br> Wszystkie Prawa zastrzerzone &copy;</p>
    </section>
</section>
